<section class="section-about-me" id="about-me">
    <div class="container">
        <div class="about-me">
            <h2 class="visually-hidden">
                about me
            </h2>
            <div class="flex-container">
                <div class="description-block">
                    <h3 class="description-text">
                        I work with people all over the world to create impressive and <span class="red">functional</span> <span class="gray">websites</span> that reflect each client's unique personality.
                    </h3>
                </div>
                <div class="about-me-photo">
                    <picture>
                        <source media="(max-width: 767px)" srcset="../img/about-me/about-m.png 1x, ../img/about-me/about-m@2x.png 2x" />
                        <source media="(min-width: 768px) and (max-width: 1439px)" srcset="../img/about-me/about-t.png 1x, ../img/about-me/about-t@2x.png 2x" />
                        <source media="(min-width: 1440px)" srcset="../img/about-me/about-d.png 1x, ../img/about-me/about-d@2x.png 2x" />
                        <img class="about-image" src="../img/about-me/about-m.png" />
                    </picture>
                </div>
            </div>
        </div>
            </div>
        </section>
        </div>
    </div>
</section>