<section class="covers section">
  <div class="covers-title">
    <h2>Covers</h2>
  </div>

  <div class="covers-gallery">
    <ul class="covers-gallery-list">
      <li>
        <ul class="covers-gallery-item cov-f">
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-4-1x.jpg 1x,
                  ./img/covers/cover-4-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-4-1x.jpg"
                alt="Vegetables"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-5-1x.jpg 1x,
                  ./img/covers/cover-5-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-5-1x.jpg"
                alt="Manage finances"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-6-1x.jpg 1x,
                  ./img/covers/cover-6-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-6-1x.jpg"
                alt="Nature forms"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-7-1x.jpg 1x,
                  ./img/covers/cover-7-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-7-1x.jpg"
                alt="Body form"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-8-1x.jpg 1x,
                  ./img/covers/cover-8-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-8-1x.jpg"
                alt="Fruit"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-9-1x.jpg 1x,
                  ./img/covers/cover-9-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-9-1x.jpg"
                alt="Learning English"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-10-1x.jpg 1x,
                  ./img/covers/cover-10-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-10-1x.jpg"
                alt="Business"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-1-1x.jpg 1x,
                  ./img/covers/cover-1-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-1-1x.jpg"
                alt="Transforming your body"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-2-1x.jpg 1x,
                  ./img/covers/cover-2-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-2-1x.jpg"
                alt="Mimino"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-3-1x.jpg 1x,
                  ./img/covers/cover-3-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-3-1x.jpg"
                alt="Ukrainian artistry"
                class="covers-img"
              />
            </picture>
          </li>
        </ul>
      </li>

      <li>
        <ul class="covers-gallery-item">
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-1-1x.jpg 1x,
                  ./img/covers/cover-1-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-1-1x.jpg"
                alt="Transforming your body"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-2-1x.jpg 1x,
                  ./img/covers/cover-2-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-2-1x.jpg"
                alt="Mimino"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-3-1x.jpg 1x,
                  ./img/covers/cover-3-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-3-1x.jpg"
                alt="Ukrainian artistry"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-4-1x.jpg 1x,
                  ./img/covers/cover-4-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-4-1x.jpg"
                alt="Vegetables"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-5-1x.jpg 1x,
                  ./img/covers/cover-5-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-5-1x.jpg 1x"
                alt="Manage finances"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-6-1x.jpg 1x,
                  ./img/covers/cover-6-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-6-1x.jpg 1x"
                alt="Nature forms"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-7-1x.jpg 1x,
                  ./img/covers/cover-7-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-7-1x.jpg 1x"
                alt="Body form"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-8-1x.jpg 1x,
                  ./img/covers/cover-8-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-8-1x.jpg 1x"
                alt="Fruit"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-9-1x.jpg 1x,
                  ./img/covers/cover-9-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-9-1x.jpg 1x"
                alt="Learning English"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-10-1x.jpg 1x,
                  ./img/covers/cover-10-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-10-1x.jpg 1x"
                alt="Business"
                class="covers-img"
              />
            </picture>
          </li>
        </ul>
      </li>

      <li>
        <ul class="covers-gallery-item">
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-8-1x.jpg 1x,
                  ./img/covers/cover-8-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-8-1x.jpg 1x"
                alt="Fruit"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-4-1x.jpg 1x,
                  ./img/covers/cover-4-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-4-1x.jpg 1x"
                alt="Vegetables"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-1-1x.jpg 1x,
                  ./img/covers/cover-1-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-1-1x.jpg 1x"
                alt="Transforming your body"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-2-1x.jpg 1x,
                  ./img/covers/cover-2-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-2-1x.jpg 1x"
                alt="Mimino"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-10-1x.jpg 1x,
                  ./img/covers/cover-10-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-10-1x.jpg 1x"
                alt="Business"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-9-1x.jpg 1x,
                  ./img/covers/cover-9-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-9-1x.jpg 1x"
                alt="Learning English"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-3-1x.jpg 1x,
                  ./img/covers/cover-3-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-3-1x.jpg 1x"
                alt="Ukrainian artistry"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-5-1x.jpg 1x,
                  ./img/covers/cover-5-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-5-1x.jpg 1x"
                alt="Manage finances"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-6-1x.jpg 1x,
                  ./img/covers/cover-6-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-6-1x.jpg 1x"
                alt="Nature forms"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-7-1x.jpg 1x,
                  ./img/covers/cover-7-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-7-1x.jpg 1x"
                alt="Body form"
                class="covers-img"
              />
            </picture>
          </li>
        </ul>
      </li>

      <li>
        <ul class="covers-gallery-item">
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-5-1x.jpg 1x,
                  ./img/covers/cover-5-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-5-1x.jpg"
                alt="Manage finances"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-6-1x.jpg 1x,
                  ./img/covers/cover-6-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-6-1x.jpg"
                alt="Nature forms"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-7-1x.jpg 1x,
                  ./img/covers/cover-7-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-7-1x.jpg"
                alt="Body form"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-8-1x.jpg 1x,
                  ./img/covers/cover-8-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-8-1x.jpg"
                alt="Fruit"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-1-1x.jpg 1x,
                  ./img/covers/cover-1-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-1-1x.jpg"
                alt="Transforming your body"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-2-1x.jpg 1x,
                  ./img/covers/cover-2-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-2-1x.jpg"
                alt="Mimino"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-3-1x.jpg 1x,
                  ./img/covers/cover-3-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-3-1x.jpg"
                alt="Ukrainian artistry"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-10-1x.jpg 1x,
                  ./img/covers/cover-10-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-10-1x.jpg"
                alt="Business"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-9-1x.jpg 1x,
                  ./img/covers/cover-9-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-9-1x.jpg"
                alt="Learning English"
                class="covers-img"
              />
            </picture>
          </li>
          <li>
            <picture class="covers-picture">
              <source
                srcset="
                  ./img/covers/cover-4-1x.jpg 1x,
                  ./img/covers/cover-4-2x.jpg 2x
                "
              />
              <img
                src="./img/covers/cover-4-1x.jpg"
                alt="Vegetables"
                class="covers-img"
              />
            </picture>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
