<section class="hero-section" id="hero">
  <div class="hero-wrap container">
    <h1 class="hero-title">Hello.</br>I’m Fullstack developer Lloyd Jefferson.</h1>
    <ul class="hero-social-list">
      <li class="hero-social-item">
        <a class="hero-social-link" href="https://www.instagram.com/goitclub/"
          >IG</a
        >
      </li>
      <li class="hero-social-item">
        <a class="hero-social-link-fb" href="https://www.facebook.com/goITclub/"
          >FB</a
        >
      </li>
      <li class="hero-social-item">
        <a class="hero-social-link-yt" href="https://www.youtube.com/c/GoIT">YT</a>
      </li>
      <li class="hero-social-item">
        <a
          class="hero-social-link-gh"
          href="https://tormoond.github.io/Team-project-JS-My-portfolio-/"
          >GH</a
        >
      </li>
      <li class="hero-social-item">
        <a class="hero-social-link" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
